body {
	font-family: 'Bariol', 'Helvetica Neue', 'Lucida Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: white;
}

h1 {
	font-weight: 300;
	width: 1000px;
}

a {
	color: white;
}

.main-content {
	max-width: 1000px;
	
}

.about-section {
	height: 630px;
	max-width: 600px;
	font-size: 18px;
	margin: 40px 0px 0 190px;
	padding-right: 15px;
}

.about-section a{
	color: #9b59b6;
}

.main-nav .bg-blue, .main-nav .bg-red,
.main-nav .bg-green, .main-nav .bg-orange{
	transition: background-color 1s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

.bg-red {background-color: #e74c3c;} 
.bg-green {background-color: #2ecc71;}
.bg-purple {background-color: #9b59b6;}
.bg-blue {background-color: #3498db;}
.bg-darkblue {background-color: #34495e;}
.bg-orange {background-color: #e67e22;}

.bg-clouds {background-color: #ecf0f1;}
.bg-silver {background-color: #bdc3c7;}
.bg-concrete {background-color: #95a5a6;}


.main-nav .bg-red:hover {background-color: #c0392b;} 
.main-nav .bg-blue:hover {background-color: #2980b9;}
.main-nav .bg-green:hover {background-color: #27ae60;}
.main-nav .bg-purple:hover {background-color: #8e44ad;}
.main-nav .bg-orange:hover {background-color: #d35400;}

#mobileNav .bg-red:hover {background-color: #c0392b;}
#mobileNav .bg-green:hover {background-color: #27ae60;}
#mobileNav .bg-blue:hover {background-color: #2980b9;}

.highlighted {
	outline: 3px solid #3498db;
	opacity: 1;
}

.highlighted2 {
	outline: 3px solid #e74c3c;
	opacity: 1;
}

.highlighted3 {
	outline: 3px solid #2ecc71;
	opacity: 1;
}

::selection {
	background-color: red;
	color: white;
}

::-moz-selection {
	background-color: red;
	color: white;
}

/* ----- HEADER ----- */

header {
	text-align: center;
	width: 100%;
}

.main-title {
	font-size: 44px;
	line-height: 24px;
}



/* ----- MAIN NAV ----- */

.main-nav {
	background-color: #ecf0f1;
	width: 1000px;
}

.main-nav ul {
	list-style: none;
	padding-left: 0;
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	text-align: left;
	left: 184px;
	right: 40px;
	position: relative;
}

.main-nav li {
	border-left: 4px solid white;
	float: left;
	height: 40px;
	width: 15em;
	position: relative;

}

.main-nav li a {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding-top: 0.6em;
	text-align: center;
	text-decoration: none;
	position: absolute;
}

.main-nav li:last-child {
	border-right: 4px solid white;
}

.main-nav li:first-of-type{
	display: none;
}

.mobile-title {
	font-size: 20px;
	color: white;
	display: none;
	line-height: 2.8;
}

.mobile-logo {
	display: none;
}

.mobile-logo img {
	height: 60%;
	margin-left: 2%;
	margin-top: 3%;
	border-radius: 40px;
	border: 1px solid orange;
}

#mobileNav, .active {
	display: none;
	}

/* -----SLIDER ------ */

/* INACTIVE
#about-us {
	font-size: 16px;
	width: 600px;
	margin-left: 90px;
	display: none;
}

#about a {
	color: #2ecc71;
}
*/

#about-us {
	display: none;
}


.feature-slider {
	height: 250px;
	padding-left: 100px;
	border-bottom: 1px dotted black;
	box-sizing: border-box;
}

.intro-pic {
	float: left;
	padding-left: 5em;
}


.intro-text {
	padding-top: 50px;
	margin-left: 2.5em;
	max-width: 358px;
	float: left;
	font-size: 20px;
}

#intro-button {
	height: 2em;
	width: 20em;
	font-family: 'Bariol', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	background: orange;
	color: white;
	margin-top: 0.5em;
	border: none;
	border-radius: 15px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: 1;
}

#intro-button:hover {background-color: #e67e22;}
.announcement {display: none;}
#intro-button:hover .status {display: none;}
#intro-button:hover .announcement {display: inline;}


#order-button1, #order-button2, #order-button3 {
	height: 40px;
	width: 200px;
	font-size: 22px;
	font-family: 'Bariol', 'Helvetica Neue', 'Lucida Sans', Helvetica, Arial, sans-serif;
	background: orange;
	color: white; 
	margin-left: 31%;
	border: none;
	display: none;
}

#order-button1:hover,
#order-button2:hover,
#order-button3:hover {
	background-color: #d35400;
}

#order-button1 .order-status {display: none;}
#order-button1:hover .ordernow {display: none;}
#order-button1:hover .order-status {display: inline;}

#order-button2 .order-status {display: none;}
#order-button2:hover .ordernow {display: none;}
#order-button2:hover .order-status {display: inline;}

#order-button3 .order-status {display: none;}
#order-button3:hover .ordernow {display: none;}
#order-button3:hover .order-status {display: inline;}

/* ----- BUTTONS ----- */

.column-third {
	width: 30%;
	float: left;

}

#button1 {
	margin-left: 75%;
}

#button2 {
	margin-left: 42%;
}

#button3 {
	margin-left: 9%;

}

/* container */
.badger-mode {
	height: 20em;
}


.gray-border {
	border: 1px solid #bdc3c7;
}

/* ----- BADGER DISPLAY ---- */

#choose-title {
	text-align: center;
	font-size: 33px;
	font-weight: 300;
}

img#single-badger {
	display: none;
}

img#single-badger-clear {
	opacity: 0.5;
	padding-left: 2em;
	padding-right: 4em;
}

img#double-badger {
	display: none;
}

img#quadruple-badger {
	display: none;
}

.badger-display {
	height: 200px;
}

.badger-display .column-half {
	width: 49.7%;
	height: 200px;
	float: left;
	margin-top: 0px;
	margin-bottom: 1em;
	
}

.badger-pop, .badger-pop2 {
	margin-left: 25%;
}

#badger-text-clear {
	opacity: 0.5;
	display: block;
	text-align: left;
	padding-top: 50px;
	font-size: 20px;
}

.badger-result {
	display: none;
	font-size: 22px;
	text-align: center;
	width: 80%;
}

.badger-result-text {
	display: none;
	font-size: 18px;
	width: 80%;
}

.order-box {
	margin-right: 40%;
}

/* ----- STATS ----- */

.stats {
	height: 8em;
	margin-top: 2em;
}

.columnn-quarter2 {
	width: 19.5%;
	float: left;
	text-align: center;
	font-size: 18px;
	padding-top: 1em;
	padding-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.stats-text, .stats-text2 {
	text-align: center;
	font-size: 18px;
}

/* ----- SERVICES----- */
/* .services { display: table;} */

.column-quarter {
	/* display: table-cell; */
	width: 23%;
	height: 282px;
	margin-top: 2em;
	margin-right: 0.3%;
	margin-left: 0.6%;
	padding: 1.5em 1em 0.5em 1.5em;
	float: left;
	text-align: center;
	box-sizing: border-box;
	border: 1px dotted #bdc3c7;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* tooltip? 
.tooltipsy {
	/*
    
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 120px;
  }
  */

.column-quarter:first-child {
	margin-left: 1.4%;
}

.services .column-quarter  p,
.services2 .column-quarter p {
	color: black;
	text-align: left;
	text-decoration: none;
	font-size: 16px;
}

.services h3{
	line-height: 0.5;
}

.services2 .column-quarter {
	margin-top: 45px;
	margin-left: 0.6%;
	width: 23%;
}

.services .column-quarter h3 a,
.services2 .column-quarter h3 a {
	text-decoration: none;
	color: #d35400;
}

#services2 {
	display: none;
}

.services img, 
.services img{
	border: 1px solid #bdc3c7;
	border-radius: 10px;
}

/* When "Services" is clicked, go here */

#services-title {
	text-align: center;
	font-size: 32px;
	font-weight: 0;
	margin-right: 2.5%;
	padding-top: 1em;
	border-top: 1px dotted #2980b9;
}

.hi-class {
	border: 1px solid blue;
}

#button-more-box {
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-left: 38%;
}

#button-more {
	height: 45px;
	width: 10em;
	font-size: 22px;
	font-family: 'Bariol', 'Helvetica Neue', 'Lucida Sans', Helvetica, Arial, sans-serif;
	background: orange;
	color: white;
	border: none; 
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 1em;
}

#button-more:hover {background-color: #e67e22;}

.fa-sort {
	padding-left: 1.5em;
}


/* ----- QUOTES ----- */

.column-third p{
	padding: 20px;
	text-align: center;
	font-size: 16px;
	border: 1px dotted black;
	border-radius: 10px;
	margin-left: 20%;
}

/* ----- FOOTER ----- */
footer {
	max-width: 1000px;
	color: white;
	
}

footer .column-half {
	float: left;
	width: 50%;
	height: 110px;
	padding: 20px;
	line-height: 0.5;
	box-sizing: border-box;
	display: inline;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: #8e44ad;
}


/* ---- CLEARFIX ---- */

/*
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}
*/

@media only screen and (min-device-width : 569px) and (max-width: 900px) {

	.main-content {
	width: 767px;
	}

	h1 {
	max-width: 767px;
	}

	.about-section {
	margin: 40px 0 0 92px;
	}

	#mobileNav, .active {
	display: none;
	}

	.main-nav {
	width: 767px;
	}

	.main-nav ul {
	width: 767px;
	left: 90px
	}

	.main-nav li {
	border-left: 4px solid white;
	width: 186.75px;
	}
											/* 569 - 900 */
	.main-nav li a {
	width: 186.75px;
	}

	.feature-slider {
	border-bottom: 1px dotted black;
	}

	#choose-title {
	width: 100%;
	}

	.slide-image {
	width: 70%;
	height: 70%;
	}

	.column-half .intro-pic {
	border: 1px solid black;
	}

	.intro-pic {
	padding-left: 0;
	}

	.intro-text {
	width: 45%;
	padding-top: 10px;
	margin-left: 20px;
	}

	#intro-button {
	margin-top: 2%;
	margin-left: 0%;
	}

	.feature-slider {
	height: 180px;
	}

	#button1 {
	margin-left: 70%;
	}

	#button2 {
	margin-left: 37%;
	}

	#button3 {
	margin-left: 4%;

	}

	.badger-result-text {
	width: 90%;
	}

	.order-box {
	margin-right: 65%;
	}
										/* 569 - 900 */
	#services-title {
	padding-right: 2%;
	}

	.column-quarter, .services2 .column-quarter {
	width: 46%;
	height: 300px;
	}

	.column-quarter p, .services2 .column-quarter p {
	width: 70%;
	margin-left: 15%;
	}

	.column-quarter h3 {
	line-height: 0;
	}


	.special-img {
	height: 60%;
	}

	#button-more-box {
	margin-left: 35%;
	}

	iframe {
	width: 85%;
	height: 35%;
	}


}

@media screen and (min-device-width : 481px) and (max-width: 568px) {

	.main-nav {
	width: 100%;
	}

	.main-content {
	width: 100%;
	}

	.about-section {
	margin: 40px 0 0 40px;
	max-width: 95%;
	}

	li#hamburger {
	width: 7em;
	height: 4.2em;
	}

	#mobileNav {
	display: none;
	width: 100%;
	position: absolute;
	}

	#mobileNav ul {
	padding: 0;
	margin: 0;
	}

	#mobileNav ul li{
	display: block;
	float: right;
	width: 100%;
	}

	#mobileNav ul a li{
	height: 2em;
	line-height: 2;
	font-size: 19px;
	}
										/* 481 - 568 */
	h1 {
	display: none;
	}

	.main-nav ul{
	left: 0px;
	height: 4.2em;
	background-color: black;
	width: 100%;
	}

	.main-nav li {
	display: none;
	border-left: none;
	}

	.main-nav ul li:first-of-type{
	display: block;
	float: right;
	height: 3em;
	padding-right: 4.5em;
	}

	.main-nav .mobile-title {
	display: block;
	padding-left: 1em;

	}
										/* 481 - 568 */
	.feature-slider {
	width: 100%;
	height: 13em;
	padding-left: 3.5em;
	border-bottom: none;
	}

	.slide-image{
	display: none;
	}

	div.column-half {
	width: 90%;
	margin-left: 5%;
	}

	#intro-button {
	width: 90%;

	}

	#choose-title {
	text-align: center;
	font-size: 22px;
	width: 100%;
	}
											/* 481 - 568 */
	.badger-button {
	width: 80%;
	height: 80%;
	}
	
	.column-third {
	width: 28%;
	}

	#quotes-third {
	width: 30%;
	}

	#button1 {
		/*
	margin-left: 67px;
	*/
	margin-left: 5em;
	}

	#button2 {
	margin-left: 4em;
	}

	#button3 {
	margin-left: 3em;
	}

	.badger-mode {
	height: 12em;
	}

	.badger-display .column-half {
	width: 43.5%;
	}

	.badger-pop, .badger-pop2 {
	margin-left: 0;
	}
	
	#badger-text-clear {
	font-size: 16px;
	width: 90%;
	}

	#single-badger-clear {
	height: 80%;
	width: 80%;
	}

	.badger-result {
	font-size: 18px;
	}
												/* 481 - 568 */
	.badger-result-text {
	font-size: 16px;
	}

	.order-box {
	margin-right: 100%;
	}

	.columnn-quarter2 {
	width: 19%;
	font-size: 12px;
	}

	.columnn-quarter2 .counter {
	font-size: 30px;
	}

	#services-title {
	margin-top: 1em;
	text-align: center;
	font-size: 30px;
	margin-left: 10%;
	}

	.column-quarter {
	/* display: table-cell; */
	width: 95%;
	height: 180px;
	margin-left: 2.5%;
	}

	.column-quarter p, .services2 .column-quarter p {
	width: 100%;
	margin-left: 0;
	}
												/* 481 - 568 */
	.services .column-quarter{
	margin-left: 2.5%;
	}

	.services2 .column-quarter {
	width: 95%;
	margin-left: 1.5%;
	margin-top: 2em;
	height: 180px;
	}

	.special-img {
	height: 80%;
	float: left;
	margin-right: 2em;
	}

	.services .column-quarter  p,
	.services2 .column-quarter p {
	font-size: 16px;
	}

	.services h2, .services2 h2{
	line-height: 0.5;
	font-size: 18px;
	}

	#button-more-box {
	width: 400px;
	margin-top: 3em;
	margin-left: 31%;
	float: left;
	}

	.column-third p{
	width: 80px;
	}

	footer div.column-half {
	width: 100%;
	margin-left: 0%;
	}

}

@media only screen and (min-device-width : 350px) and (max-width: 480px) {

	.main-content {
	width: 100%;
	}

	#mobileNav {
	width: 100%;
	}

	.main-nav .mobile-title {
	font-size: 16px;
	line-height: 1;
	display: block;
	width: 20%;
	margin-top: 1%;
	}

	.main-nav ul {
	height: 4.2em;
	}

	.main-nav .mobile-logo {
	display: none;
	}

	.feature-slider {
	width: 100%;
	height: 6em;
	}

	div.column-half {
	width: 80%;
	}

	#intro-button {
	width: 80%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	height: 3.6em;
	}			
												/* 320 - 460 */
	.intro-text p{
	display: none;
	}

	#choose-title {
	width: 100%;
	}

	.badger-button {
	width: 80%;
	height: 80%;
	}

	#button1 {
	margin-left: 40%;
	}

	#button2 {
	margin-left: 40%;
	}

	#button3 {
	margin-left: 40%;
	}

	.badger-display .column-half {
	width: 43%;
	height: 16em;
	}
												/* 320 - 460 */
	.badger-new {
	margin-top: 2em;
	margin-left: 2em;
	width: 70%;
	height: 70%;
	}

	#single-badger-clear {
	margin-top: 5em;
	width: 60%;
	height: 60%;
	}
	
	#badger-text-clear {
	font-size: 14px;
	width: 90%;
	padding-top: 5em;
	}

	div#leftbadger {
	width: 38%;
	}

	div#selectbadger {
	width: 41%;
	}

	.badger-result {
	font-size: 14px;
	line-height: 1;
	}
	
	.badger-result-text {
	font-size: 14px;
	width: 95%;
	line-height: 1.2;
	}

	.order-box {
	margin-right: 100%;
	}

	.order-status {
	font-size: 12px;
	}

	#order-button1, #order-button2, #order-button3 {
	width: 6em;
	}
	/* column-quarter needs to meet this min. width */
	.columnn-quarter2 {
	font-size: 11px;
	margin-top: 2em;
	width: 17%;
	}
													/* 320 - 460 */
	.stats {
	height: 8em;
	}

	.stats-text {
	font-size: 12px;
	}

	#services-title {
	margin-top: 1em;
	text-align: center;
	font-size: 30px;
	}

	.services-h2 {
	line-height: 0;
	}

	.column-quarter {
	/* display: table-cell; */
	width: 95%;
	margin-top: 0px;
	height: 180px;
	margin-left: 1.5%;
	}

	.services2 .column-quarter {
	width: 95%;
	height: 180px;
	margin-left: 1.5%;
	}

	#button-more-box {
	margin-left: 24%;
	}

	#quotes-third {
	width: 98%;
	margin-right: 12%;
	}

	#quotes-third p {
	padding: 2px;
	margin-left: 4%;
	width: 90%;
	}

	footer div.column-half {
	width: 100%;
	}


}

@media only screen and (min-device-width : 0px) and (max-width: 350px) {

.main-content {
	width: 350px;
	}
}	